<div class="d-flex flex-column flex-root">
    <!--begin::Page-->
    <div class="page d-flex flex-row flex-column-fluid">
      <app-sidebar></app-sidebar>
      <div class="wrapper d-flex flex-column flex-row-fluid" id="kt_wrapper">
        <app-topbar></app-topbar>
        <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
          <div class="toolbar" id="kt_toolbar">
            <div
              id="kt_toolbar_container"
              class="container-fluid d-flex flex-stack"
            >
              <div
                data-kt-swapper="true"
                data-kt-swapper-mode="prepend"
                data-kt-swapper-parent="{default: '#kt_content_container', 'lg': '#kt_toolbar_container'}"
                class="page-title d-flex align-items-center flex-wrap me-3 mb-5 mb-lg-0"
              >
                <h1
                  class="d-flex align-items-center text-dark fw-bolder fs-3 my-1"
                >
                  dashboard
                  <span
                    class="h-20px border-gray-400 border-start ms-3 mx-2"
                  ></span>
                  <ol class="breadcrumb text-muted fs-6 fw-semibold">
                    <li class="breadcrumb-item pe-3">Ingresos</li>
                  </ol>
                </h1>
              </div>
              <div class="d-flex align-items-center py-1"></div>
            </div>
          </div>
          <div class="post d-flex flex-column-fluid" id="kt_post">
            <div id="kt_content_container" class="container-xxl">
              <div class="row gy-5 g-xl-8">
                <div class="col-12">
                  <div class="card mb-10">
                    <!--begin::Card header-->
                    <div
                      class="card-header py-7"
                      style="border-bottom: 0px; padding-bottom: 10px !important"
                    >
                      <h3 class="card-title align-items-start flex-column">
                        <span class="card-label text-gray-800 fw-700"
                          >Inventario de variacion</span
                        >
                        <span
                          class="text-gray-400 mt-1 fw-semibold fs-6 d-none d-sm-block"
                        >
                          Lorem, ipsum dolor sit amet consectetur adipisicing
                          elit. Iure, laboriosam.
                        </span>
                      </h3>
                      
                    </div>
  
                    <!--begin::Card body-->
                    <div class="card-body pt-4 pb-4">
                        <div class="row mb-10">
                            <div class="col mb-7"> <div class="card card-dashed flex-center min-w-175px my-3 p-6">
                            <span class=" fs-4 fw-semibold text-dark pb-1 px-2" >
                                Color
                            </span>
                           <div class="d-flex">
                            <a class="symbol symbol-50px text-white text-center me-3" [ngStyle]="{'background-color': variacion.hxd}"
                            style="width: 30px !important; height: 30px !important; border: dashed #ccc;"
                            >
                             {{variacion.talla}}
                            </a>
                            <span class="fs-lg-2tx fw-bold d-flex justify-content-center" style="font-size: 2rem !important;">
                                {{variacion.color}}
                            </span>
                           </div>
                        </div></div>
                           <div class="col mb-7"> <div class="card card-dashed flex-center min-w-175px my-3 p-6">
                            <span class=" fs-4 fw-semibold text-dark pb-1 px-2">
                                SKU
                            </span>
                            <span class="fs-lg-2tx fw-bold d-flex justify-content-center" style="font-size: 2rem !important;">
                                {{variacion.sku}}
                            </span>
                        </div></div>
                           
                           <div class="col mb-7"> <div class="card card-dashed flex-center min-w-175px my-3 p-6">
                            <span class=" fs-4 fw-semibold text-dark pb-1 px-2">
                                Unidades
                            </span>
                            <span class="fs-lg-2tx fw-bold d-flex justify-content-center " style="font-size: 2rem !important;">
                                {{unidades.length}}
                            </span>
                        </div></div>

                        <div class="col-12">
                            <div class="card-title pt-3 mb-3 gap-4 gap-lg-10 gap-xl-15 nav nav-tabs border-bottom-0" >
                                <!--begin::Tab item-->
                                <div class="fs-4 fw-bold pb-3 cursor-pointer" 
                                [ngClass]="{'border-bottom border-3 border-primary ':almacenActive == item.almacen, 'text-gray-600': almacenActive != item.almacen}"
                                (click)="setAlmacen(item)"

                                *ngFor="let item of almacenes"  >
                                   {{item.almacen}} ({{item.unidades.length}})
                                </div>
                                <!--end::Tab item-->
                    
                
                            </div>
                            <div id="" class="table-responsive"><table class="table align-middle table-row-dashed fs-6 gy-3 dataTable"  style="width: 768.656px;"><colgroup><col style="width: 114.984px;"><col style="width: 114.984px;"><col style="width: 143.734px;"><col style="width: 114.984px;"><col style="width: 114.984px;"><col style="width: 124.984px;"><col style="width: 40px;"></colgroup>
                                <!--begin::Table head-->
                                
                    
                                <tbody class="fw-bold text-gray-600">
                                             <tr class="odd" *ngFor="let item of ingresoActive" >
                                            <td>
                                                <a class="text-gray-800 text-hover-primary"> #{{item.codigo}}  </a>
                                            </td>
                                            
                                            <td class="text-end">
                                               {{item.ingreso.proveedor}}                         
                                            </td>
                                            
                                            <td class="text-end">
                                                <a [routerLink]="['/ingresos/detalles/',item.ingreso._id]"  class=" text-primary">{{item.ingreso.createdAT|date:'YYYY'}}
                                                -{{item.ingreso.codigo.toString().padStart(6,'000000')}}</a>
                                            </td>
                                            

                                            
                                        </tr>
                                        </tbody>
                                <!--end::Table body-->
                            <tfoot></tfoot></table></div>
                        </div>
                        </div>
                    </div>
                  </div>
  
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
  